<ul *ngIf="treeData">
  <li *ngFor="let node of treeData">
    <div
      class="arrow"
      *ngIf="node.children.length != 0"
      (click)="toggleNode(node)"
    >
      <i class="fa fa-caret-right" *ngIf="!node.showChildren"></i>
      <i class="fa fa-caret-down" *ngIf="node.showChildren"></i>
    </div>
    <span (click)="onNodeSelect(node)"> {{ node.name }} </span>
    <ng-container *ngIf="node.showChildren">
      <app-tree
        [treeData]="node.children"
        (nodeSelect)="onNodeSelect($event)"
      ></app-tree>
    </ng-container>
  </li>
</ul>
